/* *{
    padding: 0;
    margin: 0;
} */
table{
    margin: 10% auto;
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
}
.wall{
    background-color: black;

}

.exit{
    background-color: blue;
}

.game_over_active{
    display: block;
    margin: 0 auto;
    width: 500px;
    padding: 40px;
    text-align: center;
    border: 1px dotted black;
}
.game_over_none{
    display: none;
}

.hovered{
    background-color: aqua;
}
.hide{
   opacity: 0.5;
}
.enter{
    background-color: red;
}
